<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html::headerfiles(~{::title},~{::link})">
    <title>Catalog Manager</title>
    <link>
</head>
<body>
<div th:insert="fragments.html::nav">
</div>

<!-- Main component for a primary marketing message or call to action -->
<div class="row" style="height: 200px"></div>
<div class="bd-example row" style="">
    <div class="col-md-2"></div>
    <div id="carouselExampleCaptions" class="carousel slide col-md-8" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div th:if="${addedList.lastAdded.size()== addedList.MAX}" class="carousel-item active">
                <img src="..." th:src="@{/products/imageDisplay(id=${addedList.lastAdded.get(4).id})}"
                     class="d-md-block w-100" width="400" height="400" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 th:text="${addedList.lastAdded.get(4).name}"></h5>
                    <p>
                        <span style="color: red" th:text="${addedList.lastAdded.get(4).buyingPrice}"> | </span>
                        <span style="color: green"th:text="${addedList.lastAdded.get(4).sellingPrice}"> | </span>
                        <span th:text="${addedList.lastAdded.get(4).supplierName}"></span>
                        <br>
                        <span th:text="${addedList.lastAdded.get(4).supplierUrl}"></span>
                    </p>
                </div>
            </div>
            <div th:if="${addedList.lastAdded.size()>= (addedList.MAX - 1)}" class="carousel-item">
                <img src="..." th:src="@{/products/imageDisplay(id=${addedList.lastAdded.get(3).id})}"
                     class="d-md-block w-100" width="400" height="400" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 th:text="${addedList.lastAdded.get(3).name}"></h5>
                    <p>
                        <span style="color: red" th:text="${addedList.lastAdded.get(3).buyingPrice}"> | </span>
                        <span style="color: green"th:text="${addedList.lastAdded.get(3).sellingPrice}"> | </span>
                        <span th:text="${addedList.lastAdded.get(3).supplierName}"></span>
                        <br>
                        <span th:text="${addedList.lastAdded.get(3).supplierUrl}"></span>
                    </p>
                </div>
            </div>
            <div th:if="${addedList.lastAdded.size()>= (addedList.MAX - 2)}" class="carousel-item">
                <img src="..." th:src="@{/products/imageDisplay(id=${addedList.lastAdded.get(2).id})}"
                     class="d-md-block w-100" width="400" height="400" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 th:text="${addedList.lastAdded.get(2).name}"></h5>
                    <p>
                        <span style="color: red" th:text="${addedList.lastAdded.get(2).buyingPrice}"> | </span>
                        <span style="color: green"th:text="${addedList.lastAdded.get(2).sellingPrice}"> | </span>
                        <span th:text="${addedList.lastAdded.get(2).supplierName}"></span>
                        <br>
                        <span th:text="${addedList.lastAdded.get(2).supplierUrl}"></span>
                    </p>
                </div>
            </div>
            <div th:if="${addedList.lastAdded.size() >= (addedList.MAX - 3)}" class="carousel-item">
                <img src="..." th:src="@{/products/imageDisplay(id=${addedList.lastAdded.get(1).id})}"
                     class="d-md-block w-100" width="400" height="400" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 th:text="${addedList.lastAdded.get(1).name}"></h5>
                    <p>
                        <span style="color: red" th:text="${addedList.lastAdded.get(1).buyingPrice}"> | </span>
                        <span style="color: green"th:text="${addedList.lastAdded.get(1).sellingPrice}"> | </span>
                        <span th:text="${addedList.lastAdded.get(1).supplierName}"></span>
                        <br>
                        <span th:text="${addedList.lastAdded.get(1).supplierUrl}"></span>
                    </p>
                </div>
            </div>
            <div th:if="${addedList.lastAdded.size() >= (addedList.MAX - 4)}" class="carousel-item">
                <img src="..." th:src="@{/products/imageDisplay(id=${addedList.lastAdded.get(0).id})}"
                     class="d-md-block w-100" width="400" height="400" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 th:text="${addedList.lastAdded.get(0).name}"></h5>
                    <p>
                        <span style="color: red" th:text="${addedList.lastAdded.get(0).buyingPrice}"> | </span>
                        <span style="color: green"th:text="${addedList.lastAdded.get(0).sellingPrice}"> | </span>
                        <span th:text="${addedList.lastAdded.get(0).supplierName}"></span>
                        <br>
                        <span th:text="${addedList.lastAdded.get(0).supplierUrl}"></span>
                    </p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="col-md-2"></div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<th:block th:replace="fragments.html :: scripts(~{::script})">
    <script></script>
</th:block>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>