<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::headerfiles(~{::title},~{::link})">
    <title>Manager</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/products-list-style.css}"/>
</head>
<body>
<div th:replace="fragments.html :: nav">
</div>
<button type="button" id="sidebarCollapse" class="btn btn-info">
    <i class="fas fa-align-left"></i>
    <span>Toggle Sidebar</span>
</button>

<div class="btn-group my-2  my-lg-0" role="group" aria-label="View Type" align="right">
    <a type="button" role="button" class="btn btn-secondary my-2 my-sm-0"  th:href="@{/products(view=list)}"><i class="fas fa-bars"></i></a>
    <a type="button" role="button" class="btn btn-secondary my-2 my-sm-0"  th:href="@{/products(view=images)}"><i class="far fa-images"></i></a>
</div>

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Catalog Manager</h3>
            <strong>CM</strong>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-home"></i>
                    Catalog
                </a>
                <ul th:if="!${catalogs.isEmpty()}" class="collapse list-unstyled" id="homeSubmenu" th:each="cat: ${catalogs}">
                    <li>
                        <a href="#"></a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-briefcase"></i>
                    Products
                </a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    Pages
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="list-unstyled CTAs">
            <li>
                <a th:href="@{/products/create(creation=catalog)}" class="create-catalog">Create Catalog</a>
            </li>
            <li>
                <a href="" class="article">Back to article</a>
            </li>
        </ul>
    </nav>
    <!-- Page Content  -->
    <!-- List -->
    <div class="row container-fluid" id="content">
        <div class="col-md-10" th:if="${viewType} == ${enumList}">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark" align="center">
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Supplier Name</th>
                    <th scope="col">Supplier Url</th>
                    <th scope="col">Buying price</th>
                    <th scope="col">Selling price</th>
                    <th scope="col">Image</th>
                </tr>
                </thead>
                <tbody align="center">
                <tr th:if="!${products.iterator().hasNext()}">
                    <td colspan="7"> No Products Available </td>
                </tr>
                <tr th:each="product, itemStat : ${products}">
                    <td><span th:text="*{product.code}"></span></td>
                    <td><span th:text="*{product.name}" ></span></td>
                    <td><span th:text="*{product.supplierName}" ></span></td>
                    <td><span th:text="*{product.supplierUrl }" ></span></td>
                    <td><span th:text="*{product.buyingPrice}" ></span></td>
                    <td><span th:text="*{product.sellingPrice}" ></span></td>
                    <td>
                        <img class="img-thumbnail" th:src="@{/products/imageDisplay(id=${product.id})}" th:width="40" th:height="40"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-10" th:if="${viewType} == ${enumImage}">
            <div class="alert alert-danger" th:if="${products.isEmpty()}" align="center">
                No products available
            </div>
            <table class="table table-borderless" width="500" border="0" cellpadding="5">

                <tr th:if="!${photos.iterator().hasNext()}">
                    <td colspan="2"> No Products Available </td>
                </tr>
                <tr th:each="index: ${#numbers.sequence(0, photos.size(), 4)}">
                    <td  th:if="${photos.size()> index}" align="center" valign="center">
                        <img src="list_products.html" th:src="@{/products/imageDisplay_list}" th:alt="*{photos.get(index).product.name}" th:width="200" th:height="200" />
                        <br />
                        <p>
                            <span th:text="*{photos.get(index).product.buyingPrice}"></span>
                            | <span th:text="*{photos.get(index).product.sellingPrice}"></span>
                            | <span th:text="*{photos.get(index).product.name}"></span>
                        </p>
                    </td>
                    <td  th:if="${photos.size()> index + 1}" align="center" valign="center">
                        <img src="list_products.html" th:src="@{/products/imageDisplay_list}" th:alt="*{photos.get(index + 1).product.name}" th:width="200" th:height="200" />
                        <br />
                        <p>
                            <span th:text="*{photos.get(index + 1).product.buyingPrice}"></span>
                            | <span th:text="*{photos.get(index + 1).product.sellingPrice}"></span>
                            | <span th:text="*{photos.get(index + 1).product.name}"></span>
                        </p>
                    </td>
                    <td  th:if="${photos.size()> index + 2}" align="center" valign="center">
                        <img src="list_products.html" th:src="@{/products/imageDisplay_list}" th:alt="*{photos.get(index + 2).product.name}" th:width="200" th:height="200" />
                        <br />
                        <p>
                            <span th:text="*{photos.get(index + 2).product.buyingPrice}"></span>
                            | <span th:text="*{photos.get(index + 2).product.sellingPrice}"></span>
                            | <span th:text="*{photos.get(index + 2).product.name}"></span>
                        </p>
                    </td>
                    <td  th:if="${photos.size()> index + 3}" align="center" valign="center">
                        <img src="list_products.html" th:src="@{/products/imageDisplay_list}" th:alt="*{photos.get(index + 3).product.name}" th:width="200" th:height="200" />
                        <br />
                        <p>
                            <span th:text="*{photos.get(index + 3).product.buyingPrice}"></span>
                            | <span th:text="*{photos.get(index + 3).product.sellingPrice}"></span>
                            | <span th:text="*{photos.get(index + 3).product.name}"></span>
                        </p>
                    </td>
                </tr>
            </table>

            <!--   To choose later or not

            <div class="row" th:each="index: ${#numbers.sequence(0, products.size(), 4)}">
                <div class="col-sm-3" th:if="${products.size()> index}" align="center">
                    <img src="list_products.html" th:src="@{/products/imageDisplay(id=${products.get(index).id})}" th:alt="*{products.get(index).name}" th:width="200" th:height="200" />
                    <br />
                    <p>
                        <span th:text="*{products.get(index).buyingPrice}"></span>
                        | <span th:text="*{products.get(index).sellingPrice}"></span>
                        | <span th:text="*{products.get(index).name}"></span>
                    </p>
                </div>
                <div class="col-sm-3"  th:if="${products.size()> index + 1}" align="center">
                    <img src="list_products.html" th:src="@{/products/imageDisplay(id=${products.get(index+ 1).id})}" th:alt="*{products.get(index + 1).name}" th:width="200" th:height="200" />
                    <br />
                    <p>
                        <span th:text="*{products.get(index + 1).buyingPrice}"></span>
                        | <span th:text="*{products.get(index + 1).sellingPrice}"></span>
                        | <span th:text="*{products.get(index + 1).name}"></span>
                    </p>
                </div>
                <div class="col-sm-3"  th:if="${products.size()> index + 2}" align="center">
                    <img src="list_products.html" th:src="@{/products/imageDisplay(id=${products.get(index+ 1).id})}" th:alt="*{products.get(index + 2).name}" th:width="200" th:height="200" />
                    <br />
                    <p>
                        <span th:text="*{products.get(index + 2).buyingPrice}"></span>
                        | <span th:text="*{products.get(index + 2).sellingPrice}"></span>
                        | <span th:text="*{products.get(index + 2).name}"></span>
                    </p>
                </div>
                <div class="col-sm-3"  th:if="${products.size()> index + 3}" align="center">
                    <img src="list_products.html" th:src="@{/products/imageDisplay(id=${products.get(index + 1).id})}" th:alt="*{products.get(index + 3).name}" th:width="200" th:height="200" />
                    <br />
                    <p>
                        <span th:text="*{products.get(index + 3).buyingPrice}"></span>
                        | <span th:text="*{products.get(index + 3).sellingPrice}"></span>
                        | <span th:text="*{products.get(index + 3).name}"></span>
                    </p>
                </div>
            </div>
            -->
        </div>
        <aside id="header-filter" class="col-md-1 mx-auto overlay" data-permanent="true">
            <div class="scrollable">
                <div class="container-fluid">
                    <div class="filter-group mg-y-none-i">
                        <div class="row">
                            <h6 class="col trigger__button mg-none-i font-sm" data-trigger="filter-type">Category</h6>

                            <button class="col btn btn-sm ml-auto">
                                <i class="fas fa-cross"></i>
                            </button>
                        </div>

                        <div th:if="!${categories.isEmty()}" id="filter-type" class="trigger" th:each="cat: ${categories}">
                            <label for="type-vector" class="filter checkbox checkbox--xs" data-field-name="type">
                                <span class="checkbox__indicator"><i class="icon icon--check"></i></span>
                                <span class="checkbox__link font-sm">cat</span>
                            </label>
                        </div>
                    </div>

                    <div class="filter-group mg-y-none-i">
                        <h6 class="mg-none font-sm">License</h6>

                        <div id="filter-selection" class="trigger">
                            <label for="selection-1" class="filter checkbox checkbox--xs" data-field-name="selection">
                    <span class="checkbox__indicator">
                        <i class="icon icon--check"></i>
                    </span>

                                <span class="checkbox__link font-sm selection selection--text">Free</span>
                            </label>
                        </div>

                        <div id="filter-premium" class="trigger">
                            <label for="premium-1" class="filter checkbox checkbox--xs" data-field-name="premium">
                    <span class="checkbox__indicator">
                        <i class="icon icon--check"></i>
                    </span>

                                <span class="checkbox__link font-sm premium premium--text">
                        <i class="icon icon--premium"></i>
                        Premium
                    </span>
                            </label>
                        </div>
                    </div>

                    <div class="filter-group mg-y-none-i">
                        <h6 class="mg-none font-sm">Sort by</h6>

                        <div id="filter-sort" class="trigger">
                            <label for="sort-popular" class="filter radio radio--xs" data-field-name="sort">
                                <span class="radio__indicator"></span>
                                <span class="radio__link font-sm">Popular</span>
                            </label>

                            <label for="sort-recent" class="filter radio radio--xs" data-field-name="sort">
                                <span class="radio__indicator"></span>
                                <span class="radio__link font-sm">Recent</span>
                            </label>
                        </div>
                    </div>

                    <div class="filter-group collection-search mg-y-none-i" style="display: none !important;">
                        <h6 class="trigger__button font-sm" data-trigger="filter-type">Type</h6>

                        <div id="filter-format" class="trigger">
                            <label for="format-search" class="filter radio radio--xs radio--checkbox active" data-field-name="format">
                                <span class="radio__indicator"></span>
                                <span class="radio__link font-sm">Resources</span>
                            </label>

                            <label for="format-collections" class="filter radio radio--xs radio--checkbox" data-field-name="format">
                                <span class="radio__indicator"></span>
                                <span class="radio__link font-sm">Collections</span>
                            </label>
                        </div>
                    </div>

                    <div class="filter-group mg-y-none-i">
                        <h6 class="mg-none font-sm">Display options</h6>

                        <ul id="layout" class="list--horizontal mg-right-lv2">
                            <li>
                                <button data-layout="fixed" class="button button--inverted button--icon--only button--xs mg-none">
                                    <i class="icon icon--md icon--mg-xs icon--squares"></i>
                                </button>
                            </li>
                            <li>
                                <button data-layout="pixabay" class="button button--inverted button--icon--only button--xs mg-none">
                                    <i class="icon icon--md icon--mg-xs icon--pixabay"></i>
                                </button>
                            </li>
                        </ul>

                        <script>if (window.showcase) window.showcase.setButton();</script>
                    </div>


                    <div class="filter-group mg-y-none-i">
                        <h6 class="mg-none font-sm">Publish date</h6>

                        <div class="dropdown dropdown--sm dropdown--bottom-left">
                            <select class="filter-ignore" id="dates-select">
                                <option value="any" selected>Any</option>
                                <option value="2019-07-13">Last 30 days</option>
                                <option value="2019-05-12">Last 3 months</option>
                                <option value="2018-08-12">Last year</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<th:block th:replace="fragments.html :: scripts(~{::script})">
    <script th:inline="javascript" th:src="@{/js/products-list.js}"></script>
</th:block>
</body>
</html>