<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::headerfiles(~{::title},~{::link})">
    <title>Log in</title>
    <link>
</head>
<body>
    <div th:insert="fragments.html::nav"></div>
    <div class="container">
        <div style="width:400px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
            <div class="card">
                <div class="card-header">
                    <!--<i class="fa fa-user"></i>--> Login
                </div>
                <div class="card-block" style="padding: 24px;">
                    <form name="f" th:action="@{/login}" method="post">
                        <fieldset>
                            <!-- Login Controls -->
                            <div class="form-group">
                                <div id="usernamegroup" class="input-group form-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="username" name="username"
                                       placeholder="Username" aria-describedby="inputGroupPrepend" autofocus>
                                    <div class="invalid-feedback">
                                        Provide a valid username
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group form-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" class="form-control" id="password" name="password"
                                           placeholder="Password" aria-describedby="inputGroupPrepend" autofocus>
                                    <div class="invalid-feedback">
                                        Provide a valid password
                                    </div>
                                </div>
                            </div>

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="remenber-me" name="remenber-me" autofocus>
                                <label class="form-check-label" for="remenber-me">Remember me?</label>
                            </div>

                            <!-- Login Button -->
                            <div class="form-actions float-right" style="margin-top: 12px;">
                                <button type="submit" class="btn btn-success"
                                        autofocus>Log in</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments.html :: scripts(~{::script})">
        <script th:inline="javascript" th:src="@{/js/login.js}"></script>
    </th:block>
</body>
</html>