<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html::headerfiles">
    <title>Create Product</title>
</head>
<body>
    <div th:insert="fragments.html::nav"></div>
    <div class="jumbotron">
        <!--Usage of models we wrote in WepAppController th:text="'Welcome to basic Bootstrap with Spring Boot created by ' + ${username} -->
        <h3> Here you can add Product to the Catalog</h3>
        <p> </p>
    </div>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Succesfull created Product done!</h4>
        <p th:text="${product.toString()}"></p>
    </div>
    <div class=" card card-block"  style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
        <form action="#" th:action="@{/products/create}" th:object="${product}"  method="post">
            <fieldset>
                <legend>Create Product</legend>
                <div class="card">
                    <p  class="form-group">
                        <label for="pcode">Code</label>
                        <input type="text" id="pcode" required placeholder="code" th:field="*{code}"/>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></div>
                    </p>

                    <p  class="form-group">
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">

                    </div>
                    <label for="pname">Name</label>
                    <input type="text" id="pname" required placeholder="name" th:field="*{name}"/>
                    </p>
                    <p  class="form-group">
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('supplierName')}" th:errors="*{supplierName}">

                    </div>
                    <label for="supplierName">Supplier name</label>
                    <input type="text" id="supplierName" placeholder="supplier name" th:field= "*{supplierName}"/>
                    </p>
                    <p  class="form-group">
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('buyingPrice')}" th:errors="*{buyingPrice}">

                    </div>
                    <label for="supplierUrl">Buying Price</label>
                    <input type="text" id="buyingPrice" placeholder="buying price" th:field="*{buyingPrice}"/>
                    </p>
                    <p  class="form-group">
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('supplierUrl')}" th:errors="*{supplierUrl}">

                    </div>
                    <label for="supplierUrl">Supplier Url</label>
                    <input type="url" id="supplierUrl" placeholder="supplier Url" th:field="*{supplierUrl}"/>
                    </p>
                    <p  class="form-group">
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('sellingPrice')}" th:errors="*{sellingPrice}">

                    </div>
                    <label for="sellingPrice">Selling Price</label>
                    <input type="text" id="sellingPrice" placeholder="selling Price" th:field = "*{sellingPrice}"/>
                    </p>
                    <p  class="form-group">
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('image')}" th:errors="*{image}">

                </div>
                    <label >Image</label>
                    <img  th:src="*{{multipartFile}}" alt="..." class="img-thumbnail"><br>
                    <input type="file" name="file" required th:field = "*{multipartFile}">
                    </p>
                </div>


                 <input class="btn  btn-success" type="submit" id="submitButton" th:value="Save">
                 <input class="btn  btn-danger" type="reset" id="resetButton" name="reset" th:value="Reset"/>
            </fieldset>
        </form>
    </div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.js" th:href="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
</body>
</html>